*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    font-size: 1.5rem;
    background: url(images/compass-g146ef9596_640.jpg);
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1300px;
    height: 90px;
    padding: 0 20px;
    margin: 0 auto;
}
#navbar-logo{
    display: flex;
    background-color: blue;
    background-image: linear-gradient(to right, rgba(233, 241, 17, 0.963) 50%, rgb(18, 213, 231) 50%);
    background-size: 100%;
    align-items: center;
    font-size: 3rem;
    text-decoration: none;
    cursor: pointer;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.fa-brands fa-sketch{
    margin-right: 0.5rem;
}
.navbar-menu{
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
}
.navbar-items{
    height: px;
}
.navbar-links{
    color: rgb(18, 213, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1.5rem;
    height: 100%;

}
.navbar-button{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 60%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    background: aqua;
    


}
.navbar-btn{ 
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-content: center;
    padding: 0.1rem;
    width: 100%;
    color: #e6df05;
}
.navbar-button:hover{
    background: #e6053a;
    transition: all 0.3s ease;
}
.navbar-links:hover{
    color: #e6053a;
    transition: all 0.3s ease;
}
@media screen and (max-width:760px){
    .navbar-container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        z-index: 1;
        max-width: 1300px;
        padding: 0;

    }
    #navbar-logo{
        padding-left: 10px;
    }
    .navbar-items{
        width: 100%;
    }
    .navbar-links{
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;

    }
    .navbar-menu{
        background-color: #c3b70e;
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        /*top: -1000px;
        opacity: 0;*/
        transition: all 0.5s ease;
        height: 40vh;
        z-index: 1;
        
    }
    .navbar-menu.active{
    
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 30vh;
        font-size: 1.6rem;

    }
    .navbar-toggle.bar{
        display: block;
        cursor: pointer;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #e20c0c;

    }
    .navbar-button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        height: 40px;

    }
}